%main.container
  -# Topic Title
  .row
    %ul.topic.collection.z-depth-1
      %li.collection-item.valign-wrapper
        %ul.vote.center-align.valign
          %li
            %form{action: "/toast-it/topics/#{@topic.id}/toast", method: 'post'}
              - if @liked
                %button.waves-effect.waves-light.btn.green{type: 'submit', name: 'liked', value: 'true'}
                  %i.fa.fa-beer
              - else
                %button.waves-effect.waves-green.btn-flat{type: 'submit', name: 'liked', value: 'true'}
                  %i.fa.fa-beer
          %li.score #{@topic.score}
          %li
            %form{action: "/toast-it/topics/#{@topic.id}/toast", method: 'post'}
              - if @liked == false
                %button.waves-effect.waves-light.btn.materialize-red.lighten-2{type: 'submit', name: 'liked', value: 'false'}
                  %i.fa.fa-beer.fa-flip-vertical
              - else
                %button.waves-effect.waves-red.btn-flat{type: 'submit', name: 'liked', value: 'false'}
                  %i.fa.fa-beer.fa-flip-vertical
        %ul.valign.topic
          %li
            %h5
              %a.title{href: "/toast-it/topics/#{@topic.id}"} #{@topic.title}
          %li
            %p.topic-metadata
              %a.chip{href: '#comments'} #{@topic.comments.count} comments
              Submitted #{@topic.created_to_s} ago by
              %a{href: '#'} #{@topic.user.name}
      %li.collection-item #{RDiscount.new(@topic.content, :smart, :autolink, :filter_html).to_html}
    -# Topic Reply
    - if logged_in?
      %ul.topic.collapsible.indigo-text.text-accent-4#reply{data: {collapsible: 'accordion'}}
        %li
          .collapsible-header
            %i.material-icons reply
            Reply
          .collapsible-body.white
            %form{action: "/toast-it/topics/#{@topic.id}", method: 'post'}
              .row
                .input-field.col.s10.offset-s1
                  %textarea.materialize-textarea#reply{name: 'comment[content]', required: true}
                  %label{for: 'reply'} Your Reply
              .row
                .col.s11
                  %button.btn.waves-effect.waves-light.right{type: 'submit'}
                    Post Reply
                    %i.material-icons.right send
  -# Topic Comments
  - if @topic.comments.count != 0
    .row
      %ul.collection.z-depth-1#comments
        - @topic.comments.each do |comment|
          %li.collection-item #{RDiscount.new(comment.content, :smart, :autolink, :filter_html).to_html}
