-# Create a Topic Fixed Menu
.fixed-action-btn.click-to-toggle{style: 'bottom: 50px; right: 24px;'}
  %a.btn-floating.btn-large.indigo
    %i.large.mdi-navigation-menu
  %ul
    %li
      %a.btn-floating.blue{href: '#'}
        %i.material-icons link
    %li
      %a.btn-floating.red{href: '/toast-it/topics/new'}
        %i.large.material-icons mode_edit

-# Topic List
%main.container
  %ul.topic.collection
    - Topic.all.each do |topic|
      - liked = topic.liked?(current_user) if current_user
      %li.collection-item.valign-wrapper
        %ul.vote.center-align.valign
          %li
            %form{action: "/toast-it/topics/#{topic.id}/toast", method: 'post'}
              - if liked
                %button.waves-effect.waves-light.btn.green{type: 'submit', name: 'liked', value: 'true'}
                  %i.fa.fa-beer
              - else
                %button.waves-effect.waves-green.btn-flat{type: 'submit', name: 'liked', value: 'true'}
                  %i.fa.fa-beer
          %li.score #{topic.score}
          %li
            %form{action: "/toast-it/topics/#{topic.id}/toast", method: 'post'}
              - if liked == false
                %button.waves-effect.waves-light.btn.materialize-red.lighten-2{type: 'submit', name: 'liked', value: 'false'}
                  %i.fa.fa-beer.fa-flip-vertical
              - else
                %button.waves-effect.waves-red.btn-flat{type: 'submit', name: 'liked', value: 'false'}
                  %i.fa.fa-beer.fa-flip-vertical
        %i.material-icons.small.circle.valign insert_comment
        %ul.valign
          %li
            %h5
              %a.title{href: "/toast-it/topics/#{topic.id}"} #{topic.title}
          %li
            %p.topic-metadata
              %a.chip{href: "/toast-it/topics/#{topic.id}"} #{topic.comments.count} comments
              Submitted 30 minutes ago by
              %a{href: '#'} #{topic.user.name}
