!!!
%html
  %head
    %meta{ charset: 'utf-8'}/
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport'}/

    %title Toast-It

    %link{href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet'}/
    = stylesheet_tag 'app'

  %body.orange.lighten-5
    - if logged_in?
      - user = current_user
      %ul.dropdown-content#account
        %li<
          %a{href: '#'} Account
        %li<
          %a{href: '/logout'} Logout
      %ul.dropdown-content#mobile_account
        %li<
          %a{href: '#'} Account
        %li<
          %a{href: '/logout'} Logout
    %nav
      .nav-wrapper
        %a.brand-logo.center{href: '/toast-it'}<
          %i.fa.fa-beer
          Toast-It
        %a.button-collapse{href: '#', data: {activates: 'mobile-demo'}}<
          %i.material-icons menu
        %ul.left.hide-on-med-and-down.truncate
          - if request.path_info == '/toast-it' || request.path_info == '/toast-it/topics' || request.path_info == '/toast-it/top'
            %li.active<
              %a{href: '/toast-it'} Top Toasts
          - else
            %li<
              %a{href: '/toast-it'} Top Toasts
          - if request.path_info == '/toast-it/new'
            %li.active<
              %a{href: '/toast-it/new'} New Toasts
          - else
            %li<
              %a{href: '/toast-it/new'} New Toasts
        %ul.right.hide-on-med-and-down
          %li<
            %form
              .input-field
                %input#search{type: 'search', required: true, placeholder: 'Search'}
                %label{for: 'search'}<
                  %i.material-icons search
                %i.material-icons close
          %li<
            - if logged_in?
              %a.dropdown-button{href: '#!', data: {activates: 'account'}}<
                #{user.name}
                %i.material-icons.right> arrow_drop_down
            - else
              %a{href: '/login'} Login
        %ul.side-nav#mobile-demo
          %li<
            %form
              .input-field
                %input#search{type: 'search', required: true, placeholder: 'Search'}
                %label{for: 'search'}
                  %i.material-icons search
                %i.material-icons close
          %li<
            - if logged_in?
              %a.dropdown-button{href: '#!', data: {activates: 'mobile_account'}}<
                #{user.name}
                %i.material-icons.right> arrow_drop_down
            - else
              %a{href: '/login'} Login
          - if request.path_info == '/toast-it' || request.path_info == '/toast-it/topics' || request.path_info == '/toast-it/top'
            %li.active<
              %a{href: '/toast-it'} Top Toasts
          - else
            %li<
              %a{href: '/toast-it'} Top Toasts
          - if request.path_info == '/toast-it/new'
            %li.active<
              %a{href: '/toast-it/new'} New Toasts
          - else
            %li<
              %a{href: '/toast-it/new'} New Toasts

    = yield

    %footer.page-footer
      .container
        .row
          .col.l6.s12
            %h5.white-text About
            %p.grey-text.text-lighten-4 Toast-It is a Sinatra CRUD application meant to mimic some of the functionality of Reddit.
          .col.l4.offset-12.s12
            %h5.white-text Tech
            %ul
              %li<
                %a.grey-text.text-lighten-3{href: 'http://www.sinatrarb.com/'} Sinatra
              %li<
                %a.grey-text.text-lighten-3{href: 'http://materializecss.com/'} Materialize
              %li<
                %a.grey-text.text-lighten-3{href: 'http://haml.info/'} Haml
              %li<
                %a.grey-text.text-lighten-3{href: 'https://www.openshift.com/'} OpenShift
      .footer-copyright
        .container
          © Copyright free / Public Domain
          %a.grey-text.text-lighten-4.right{href: 'https://github.com/thegands/toast-it'} GitHub

    = javascript_tag 'app'
